:root {
    /* Default dark theme */
    --bg-color: #000; /* Background color */
    --text-color: #fff; /* Text color */
    --navbar-bg: #00000000; /* Navbar background color */
    --navbar-text-color: #fff; /* Navbar text color */
    --footer-bg: #00000000; /* Footer background color */
    --footer-text-color: #fff; /* Footer text color */
    --progress-bg: #000000; /* Progress container background color */
    --progress-bar: linear-gradient(to right, #dc3545, #000000); /* Progress bar background */
    --image-border-left:linear-gradient(to top, #dc3545, #000);
    --image-border-bottom:linear-gradient(to right, #dc3545, #000);
}

.light-theme {
    /* Light theme variables */
    --bg-color: #fff; /* Background color */
    --text-color: #000; /* Text color */
    --navbar-bg: #ffffff00; /* Navbar background color */
    --navbar-text-color: #000; /* Navbar text color */
    --footer-bg: #ffffff00; /* Footer background color */
    --footer-text-color: #000; /* Footer text color */
    --progress-bg: #ffffff; /* Progress container background color */
    --progress-bar: linear-gradient(to right, #dc3545, #ffffff); /* Progress bar background */
    --image-border-left:linear-gradient(to top, #dc3545, #ffffff);
    --image-border-bottom:linear-gradient(to right, #dc3545, #ffffff);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.about-section{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1rem;
    transition: background-color 0.5s ease-in-out;
}

.navbar-brand {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--navbar-text-color);
    position: relative;
    padding: 0.5rem 0;
    overflow: hidden;
}

.navbar-brand::before,
.navbar-brand::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #dc3545; /* Border color */
    transition: transform 0.3s ease;
}

.navbar-brand::before {
    top: 0;
    transform: scaleX(0);
}

.navbar-brand::after {
    bottom: 0;
    transform: scaleX(0);
}

.navbar-brand:hover::before,
.navbar-brand:hover::after {
    transform: scaleX(1);
}

.navbar-brand:hover {
    color: #dc3545; /* Change text color on hover */
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.2s ease;
    padding: 0.75rem 1rem;
    position: relative;
    overflow: hidden;
    color: var(--navbar-text-color);
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #dc3545; /* Red color for underline */
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-link.active {
    color: #ff0000; /* Red color for active links */
    border-bottom: 3px solid #dc3545; /* Red border for active links */
}

.navbar-nav .nav-link:hover {
    color: var(--navbar-text-color);
    transform: scale(1.05);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    padding: 2rem 0;
    text-align: center;
}

.skills-section {
    padding: 50px 0;
}

.progress {
    height: 15px;
    background-color: var(--progress-bg);
    overflow: hidden;
}

.progress-bar {
    transition: width 1s ease-in-out;
    position: relative;
    animation: progressAnimation 1.5s forwards;
    background: var(--progress-bar);
}

@keyframes progressAnimation {
    from {
        width: 0%;
    }
    to {
        width: attr(aria-valuenow);
    }
}

.skill-item {
    margin-bottom: 20px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.animated-border {
    position: relative;
    width: 200px;
}

.animated-border::before,
.animated-border::after {
    content: '';
    position: absolute;
    transition: all 0.5s ease;
}

.animated-border::before {
    left: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    /* background: linear-gradient(to top, #dc3545, #000); */
    background: var(--image-border-left);
    animation: border-left 5s infinite alternate;
}

.animated-border::after {
    left: 0;
    height: 5px;
    width: 100%;
    /* background: linear-gradient(to right, #dc3545, #000); */
    background: var(--image-border-bottom);
    bottom: 0;
    animation: border-bottom 5s infinite alternate;
}

@keyframes border-left {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes border-bottom {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.contact-section {
    padding: 3rem 0;
}

.form-control {
    background-color: var(--bg-color);
    border: 2px solid #dc3545;
    color: #dc3545 !important;
    transition: border-color 1s ease, box-shadow 1s ease;
    margin: 5px 0;
}

.input-group {
    margin-top: 2.5rem;
}

.form-control::placeholder {
    color: #dc3545;
    opacity: 1;
}

.input-group-text {
    padding: 1rem;
    background-color: var(--bg-color);
    border: 2px solid #dc3545;
    color: #dc3545 !important;
}

.input-group .form-control:focus {
    border-color: #dc3545 !important;
    background-color: var(--bg-color) !important;
}
